.QToolButton,.QPushButton{
	border-style:none;
	padding:10px;
	border-radius:5px;
	color:#FFFFFF;
        background:#34495E;
}
.QToolButton:hover,.QPushButton:hover{
	color:#E5FEFF;
        background:#4E6D8D;
}
.QToolButton:pressed,.QPushButton:pressed{
	color:#A0DAFB;
        background:#2C3E50;
}

.QToolButton:disabled,.QPushButton:disabled{
    border-style:none;
    padding:10px;
    border-radius:5px;
    color:#838383;
    background:#BAC4C5;
}

.QLineEdit{
	border-style:none;
	padding:6px;
	border-radius:5px;
	border:2px solid #DCE4EC;
}
.QLineEdit:focus{
        border:2px solid #2ABFA3;
}
.QLineEdit:disabled{
    background:#EAEDED;
    color:#969D9E;
}
.QRadioButton::indicator{
    width:17px;
    height:17px;
}
.QRadioButton::indicator::unchecked{
    image:url(:/image/radiobutton/);
}

QTableWidget:pane{
    border-width:0px;
    border-color:white;
    border-style:outset;
    border-raidus:3px;
    background-color:rgb(132,171,208);
    background:transparent;
}

QTableWidget::tab-bar{
    left:0px;
}
QTabBar::tab{
    width: 160px;
    height:46px;
    font:20px;
    color:white;
}
QTabBar::tab:selected{
    margin-left:1;
    margin-right:0;
    color:white;
}

QTabBar::tab:!selected{
    color:white;
    margin-left:1;
    margin-right:0;
}
QTabBar::tab:!selected{
    margin-top:6px;
    margin-bottom:-6px;
}

